# Host Ports
CKAN_PORT_HOST=5000
NGINX_PORT_HOST=8081
NGINX_SSLPORT_HOST=8443
# CKAN databases
CKAN_SQLALCHEMY_URL=postgresql://dbuser:dbpwd@dbserver:5432/envidat
# Dev settings
USE_HTTPS_FOR_DEV=false
# CKAN core
CKAN_VERSION=2.11.3
CKAN_SITE_ID=default
CKAN_SITE_URL=https://localhost:8081
CKAN__SITE_TITLE=EnviDat
CKAN__SITE_ORG=WSL
CKAN__SITE_LOGO=envidat-logo-banner-new.png
CKAN__FAVICON=https://www.envidat.ch/favicon.ico
# See https://docs.ckan.org/en/latest/maintaining/configuration.html#secret-key
CKAN___SECRET_KEY=CHANGE_ME
# See https://docs.ckan.org/en/latest/maintaining/configuration.html#api-token-settings
# These are required as well for passwordless-api
CKAN___API_TOKEN__JWT__ENCODE__SECRET=string:
CKAN___API_TOKEN__JWT__DECODE__SECRET=string:
CKAN___API_TOKEN__JWT__ALGORITHM = HS256
CKAN___API_TOKEN__NBYTES = 60
#CKAN__CSRF_PROTECTION__IGNORE_EXTENSIONS needs to be false(will be deprecated soon)
CKAN__CSRF_PROTECTION__IGNORE_EXTENSIONS=false
CKAN_STORAGE_PATH=/var/lib/ckan
CKAN_SMTP_SERVER=mailserver.com
CKAN___EMAIL_TO=your_email@example.com
CKAN___ERROR_EMAIL_FROM=your_email@example.com
##when testing from localhost starttls must be true, and user and password provided
CKAN_SMTP_STARTTLS=False
CKAN_SMTP_USER=
CKAN_SMTP_PASSWORD=
CKAN_SMTP_MAIL_FROM=envidat@wsl.ch
CKAN_MAX_UPLOAD_SIZE_MB=30000
TZ=UTC
# Licences configuration
CKAN___LICENSES_GROUP_URL=file:///var/lib/ckan/envidat_licenses.json
# Solr
SOLR_IMAGE_VERSION=2.10-solr9
CKAN_SOLR_URL=http://solr:8983/solr/ckan
TEST_CKAN_SOLR_URL=http://solr:8983/solr/ckan
# Redis
REDIS_VERSION=6
CKAN_REDIS_URL=redis://redis:6379/1
TEST_CKAN_REDIS_URL=redis://redis:6379/1
# NGINX
NGINX_PORT=80
NGINX_SSLPORT=443
#CORS
CKAN__CORS__ORIGIN_WHITELIST =  https://s3-zh.os.switch.ch/envidat-dev http://envidat04.wsl.ch
# Extensions
# expire_api_token plugin (unit = 1 day in seconds, lifetime = 3 days)
## Authorization Settings
CKAN__AUTH__ANON_CREATE_DATASET = false
CKAN__AUTH__CREATE_UNOWNED_DATASET = false
CKAN__AUTH__CREATE_DATASET_IF_NOT_IN_ORGANIZATION = false
CKAN__AUTH__USER_CREATE_GROUPS = false
CKAN__AUTH__USER_CREATE_ORGANIZATIONS = false
CKAN__AUTH__USER_DELETE_GROUPS = false
CKAN__AUTH__USER_DELETE_ORGANIZATIONS = false
CKAN__AUTH__CREATE_USER_VIA_API = false
CKAN__AUTH__CREATE_USER_VIA_WEB = false
CKAN__AUTH__ROLES_THAT_CASCADE_TO_SUB_GROUPS = admin
CKAN__AUTH__PUBLIC_USER_DETAILS = true
CKAN__AUTH__PUBLIC_ACTIVITY_STREAM_DETAIL = true
CKAN__AUTH__ALLOW_DATASET_COLLABORATORS = true
CKAN__AUTH__CREATE_DEFAULT_API_KEYS = false
CKAN__AUTH__DISABLE_COOKIE_AUTH_IN_API = true
CKAN___EXPIRE_API_TOKEN__DEFAULT_LIFETIME=3
CKAN___EXPIRE_API_TOKEN__DEFAULT_UNIT=86400
CKAN___PASSWORDLESS_API__COOKIE_NAME = envidat
CKAN___PASSWORDLESS_API__COOKIE_DOMAIN = .localhost
CKAN___PASSWORDLESS_API__COOKIE_PATH = /
CKAN___PASSWORDLESS_API__COOKIE_SECURE = false
##cookie should be secure (value=true) for prod, false otherwise
CKAN___SESSION_COOKIE_SECURE = false
CKAN___PASSWORDLESS_API__GUIDELINES_URL=https://envidat.ch/#/about/guidelines
CKAN___PASSWORDLESS_API__POLICIES_URL=https://envidat.ch/#/about/policies
# scheming extension
#CKAN___SCHEMING__DATASET_SCHEMAS= file:/srv/app/envidat_schema.yaml
CKAN___SCHEMING__DATASET_SCHEMAS=ckanext.envidat_theme:datacite_dataset.json
CKAN___SCHEMING__ORGANIZATION_SCHEMAS=ckanext.envidat_theme:hierarchy_org.json
CKAN___SCHEMING__PRESETS="ckanext.scheming:presets.json ckanext.envidat_theme:presets.json ckanext.composite:presets.json"
# spatial extension
CKANEXT__SPATIAL__SEARCH_BACKEND=solr-spatial-field
CKAN__SPATIAL__SRID=4326
CKANEXT__SPATIAL__COMMON_MAP__TYPE=custom
CKANEXT__SPATIAL__COMMON_MAP__CUSTOM_URL=https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png
CKANEXT__SPATIAL__COMMON_MAP__ATTRIBUTION="&copy; EnviDat 2025 (<a href=\"https://creativecommons.org/licenses/by-sa/3.0/\">CC-BY-SA</a>); Map data: &copy; <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap</a>, <a href=\"http://viewfinderpanoramas.org\">SRTM</a> | Map style: &copy; <a href=\"https://opentopomap.org\">OpenTopoMap</a> (<a href=\"https://creativecommons.org/licenses/by-sa/3.0/\">CC-BY-SA</a>)"
# cloudstorage extension
CKANEXT__CLOUDSTORAGE__DRIVER=S3
CKANEXT__CLOUDSTORAGE__CONTAINER_NAME=bucket-dev
CKANEXT__CLOUDSTORAGE__DRIVER_OPTIONS='{"key": "xxxx", "secret": "yyyyy", "host": "aws", "region_name": "eu"}'
CKANEXT__CLOUDSTORAGE__USE_SECURE_URLS=1
CKANEXT__CLOUDSTORAGE__MAX_MULTIPART_LIFETIME=7
CKANEXT__CLOUDSTORAGE__MAX_UPLOAD_SIZE_GB=10
CKANEXT__CLOUDSTORAGE__LEAVE_FILES=True
# ckanext-blind_review extension
CKANEXT__BLIND_REVIEW__VERSION_DOUBLE_BLIND="double-blind"
# Extensions
CKAN__PLUGINS="passwordless_api expire_api_token hierarchy_display envidat_theme spatial_metadata spatial_query scheming_datasets scheming_organizations composite restricted blind_review cloudstorage envvars"

#logging(production)
CKAN___LOGGER_ROOT__LEVEL=WARNING
CKAN___LOGGER_ROOT__HANDLERS=console

CKAN___LOGGER_WERKZEUG__LEVEL=WARNING
CKAN___LOGGER_WERKZEUG__HANDLERS=console
CKAN___LOGGER_WERKZEUG__QUALNAME=werkzeug
CKAN___LOGGER_WERKZEUG__PROPAGATE=0

CKAN___LOGGER_CKAN__LEVEL=WARNING
CKAN___LOGGER_CKAN__HANDLERS=console
CKAN___LOGGER_CKAN__QUALNAME=ckan
CKAN___LOGGER_CKAN__PROPAGATE=0

CKAN___LOGGER_CKANEXT__LEVEL=WARNING
CKAN___LOGGER_CKANEXT__HANDLERS=console
CKAN___LOGGER_CKANEXT__QUALNAME=ckanext
CKAN___LOGGER_CKANEXT__PROPAGATE=0

CKAN___LOGGER_SQLALCHEMY__LEVEL=WARN
CKAN___LOGGER_SQLALCHEMY__HANDLERS=console
CKAN___LOGGER_SQLALCHEMY__QUALNAME=sqlalchemy.engine
